<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title cour node js
body
    h2 CADC devloppement 
    p pug template plus populaire
    include include/pie.pug
    include t.pug   
    include envoi.pug