body {
  overflow-x: hidden;
}

a:hover {
  text-decoration: none;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}
.header {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 105vh;
  padding-top: 20px;
}
.nav {
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 3px;
  position: absolute;
  transform: all 0.3s;
  background: white;
  z-index: 9;
  top: 0px;
  width: 100%;
}
.nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav ul li {
  display: flex;
}

.nav ul li a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.1em;
  color: #333;
  padding: 0.25rem 0;
  margin: 10px 1.8rem;
  text-transform: uppercase;
}
.nav ul li.logo .black {
  display: none;
}

.nav ul li.logo a {
  margin: 0 4rem;
}

.nav-icon {
  position: absolute;
  top: 27px;
  right: 30px;
  padding: 5px;
  width: 40px;
  z-index: 1;
  cursor: pointer;
}
.nav-icon span {
  background: #333;
  width: 30px;
  height: 1px;
  display: block;
  transition: 300ms linear all;
}
.nav-icon span:nth-child(1),
.nav-icon span:nth-child(3) {
  width: 20px;
  margin: 0 auto;
}

.nav-icon span:nth-child(2) {
  margin: 5px 0;
  width: 32px;
}
.nav-icon:hover span:nth-child(1),
.nav-icon:hover span:nth-child(3) {
  width: 30px;
}

.full-nav {
  background: #f1c30f;
  color: #18191d;
  position: fixed;
  left: 0;
  top: 0px;
  height: 100%;
  width: 100%;
  padding: 3.75rem;
  z-index: 99;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.4s ease-in-out;
}
.full-nav.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
  z-index: 99;
}
.full-nav .logo {
  display: flex;
  justify-content: center;
  padding: 4rem;
}
.nav2 {
  display: flex;
  justify-content: center;
}
.nav2 ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 700px;
}
.nav2 ul li {
  display: flex;
  flex: 50%;
  background-color: #f5f5f5;
  padding: 1rem;
  border-bottom: 10px solid #f1c30f;
  border-right: 10px solid #f1c30f;
  transition: all 0.5s;
}
.nav2 ul li a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4rem;
  color: #18191d;
}

.nav2 u li a span {
  color: #b9b9b9;
}
.nav2 ul li:hover {
  background-color: #ff1637;
}

.nav2 ul li:hover a,
.nav2 ul li:hover a span {
  color: white;
}
.social-icons a {
  color: white;
  border: 4px solid white;
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 20px;
  display: inherit;
  text-align: center;
  border-right: 50px;
  transition: all ease 1s;
  margin-top: 40px;
}
.social-icons a:hover i {
  color: black;
  margin-top: -10px;
  border-color: black;
}
.social-icons a:hover {
  color: black;
  margin-top: -10px;
  border-color: black;
}
ul.social-icons.list-inline {
  text-align: center;
  margin-top: 22px;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.corner-circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 0 0 0 120px;
  z-index: 2;
}
.nav-close {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 30px;
  right: 30px;
}
.nav-close span {
  background: black;
  width: 30px;
  height: 1px;
  display: block;
  position: absolute;
  top: 14px;
}
.nav-close span:nth-child(1) {
  transform: rotate(45deg);
}
.nav-close span:nth-child(2) {
  transform: rotate(-45deg);
}

.nav.sticky {
  width: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
  animation-name: animationFade;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes animationFade {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
    -o-webkit-transform: none;
  }
}
.nav.sticky a {
  color: #18191d;
}
.nav.sticky ul li.logo .white {
  display: none;
}
.nav.sticky ul li.logo .black {
  display: inline-block;
}
.nav.sticky .nav-icon span {
  background-color: #18191d;
}

/* navigation bar and hunberger menu desgine fenesheed here*/
/* video begin here*/
video#herovideo {
  width: 100%;
}
.bx-wrapper .social-icons a {
  color: white;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: inherit;
  text-align: center;
  padding-top: 5px;
  transition: all ease 1s;
  background: #000;
  border-radius: 0px;
}
.bx-wrapper .social-icons a i {
  position: relative;
  bottom: 7px;
}
.vidcontent {
  position: absolute;
  top: 290px; /*390*/
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
  text-align: left;
}
.vidcontent h1 {
  font-family: "Oswald", sans-serif;
  font-size: 5em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.vidcontent p {
  font-family: "Roboto Condensed", sans-serif;
}
#vidbtn {
  font-family: "Roboto Condensed", sans-serif;
  display: inline-block;
  font-size: 16px;
  padding: 15px 40px;
  border: none;
  background: white;
  color: #333;
  cursor: pointer;
  margin-top: 18px;
  border-radius: 50px;
  animation: shadow-pulse 2s infinite;
  text-transform: uppercase;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
#vidbtn {
  background: white;
  color: black;
  text-decoration: none;
}
.social-icons a {
  color: #333 !important;
  border: 4px solid white;
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 20px;
  display: inherit;
  text-align: center;
  border-radius: 50px;
  transition: all ease 1s;
  margin-top: 40px;
  background: white !important;
}
ul.social-icons.list-inline {
  text-align: center;
  margin-top: 22px;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  /*text-align: center;*/
}

.bx-pager .bx-default-pager {
  margin-top: 50px !important;
}
#about-us .carousel-indicators {
  position: static;
  margin-top: 30px; /*5px*/
}
#about-us .carousel-indicators li {
  background-color: black;
  width: 12px;
  height: 12px;
  margin-left: 5px;
}
.carousel-control-prev-icon {
  background-image: url(/Ressources/images/left-arrow.svg);
  padding: 25px;
}
.carousel-control-next-icon {
  background-image: url(/Ressources/images/right-arrow.svg);
  padding: 25px;
}
#about-us .carousel-control-next,
#about-us .carousel-control-prev {
  width: auto;
  height: 80px;
  width: 80px;
  margin-top: 150px;
  border-radius: 50%;
}

#about-us .carousel-control-next {
  right: -50px;
  background: darkgray;
}
#about-us .carousel-control-prev {
  left: -50px;
  background: darkgray;
}
#about-us h3 {
  font-family: "Oswald" sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  color: #6c757d !important;
}
p.lead {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  color: #f7cc4b !important;
  font-weight: bold;
}
h4.text-dark {
  font-family: "Oswald" sans-serif;
  font-size: 21px;
}
p.text-secondary {
  font-family: "Roboto Condensed", sans-serif;
  color: darkgray;
}
#contents {
  margin-top: -380px;
}
@media (max-width: 1200px) {
  #contents {
    margin-top: -500px;
  }
}
@media (max-width: 768px) {
  nav {
    visibility: visible;
  }
  nav ul li {
    visibility: visible;
  }
  #contents {
    margin-top: -1100px;
  }
  .bg-video {
    margin-top: 50px;
  }
  nav .nav-icon span {
    background-color: #f1c30f;
    cursor: pointer;
    width: 10px;
    height: 10px;
  }
}

.row.no-gutter [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.img-wrapper {
  overflow: hidden;
}
.img-wrapper img {
  transition: transform 0.5s ease;
}
.img-wrapper img:hover {
  transform: scale(1.5);
  cursor: zoom-in;
}
img {
  width: 100%;
  height: auto;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
#team {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: #535353;
  padding-top: 50px;
  background-color: white;
}
#team h5 {
  font-size: 1.2rem;
  font-weight: 599;
  margin-bottom: 1.5rem;
  color: #ff1737;
  font-family: "Oswald" sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#team h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 599;
  color: gray;
  line-height: 1.2;
  max-width: 650px;
  margin: 0 auto 1.5rem;
  font-family: "Oswald" sans-serif;
  letter-spacing: 1px;
}
#team p.desc {
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-family: "Roboto Condensed", sans-serif;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:hover {
  text-decoration: none;
}
.designation {
  font-size: 17px;
}

.team-social li {
  font-size: 20px;
  color: #18191d;
  height: 50px;
  width: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  margin: 0;
  border: 1px solid wheat;
  border-radius: 50%;
  cursor: pointer;
}
.team-social li:hover {
  background-color: white;
}
.team-img {
  position: relative;
}
.team-social.white-bg {
}
.team-overflow {
  position: relative;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  max-width: 370px;
  margin-left: -20px;
  background: white;
}
.team-overflow .team-text {
  text-align: center;
  font-size: 14px;
  padding: 2rem 0 2.5rem 0;
}
.team-overflow .team-text h4 {
  font-size: 1.7rem;
}
.swiper-slide-active .team-overflow:hover .team-box-content {
  opacity: 1;
  visibility: visible;
  border-radius: 0;
  bottom: 0;
}
.team-box-content {
  background-color: #f1c30f;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  padding: 20px 0;
  bottom: -20%;
  z-index: 1;
  transition: all linear 0.4s;
}
.team-overflow .team-img {
  overflow: hidden;
  width: 100%;
}
.swiper-slide-active .team-overflow:hover img {
  transition: scale(1.1);
}
.team-progress {
  padding-bottom: 1rem;
}
.team-progress .progress-item:not(:last-child) {
  margin-bottom: 1.7rem;
}
.team-progress .progress {
  height: 12px;
  margin-top: 12px;
  overflow: hidden;
  border-radius: 50px;
  background-color: #eaeaea;
}
.team-progress .progress-item .count {
  font-weight: 500;
}
.team-progress .progress-bar {
  height: 100%;
  border-radius: 50px;
  background: #f1c30f;
}
.w-82 {
  width: 77% !important;
}
.w-90 {
  width: 90% !important;
}
.team-member-slider {
  padding-bottom: 165px;
}
.swiper-button-next,
.swiper-button-prev {
  background-image: none;
}
.slider-arrows {
  border-radius: 50px;
  color: white;
  font-weight: bold;
  width: 45px;
  height: 45px;
  line-height: 40px;
  transition: 1s;
}

.team-member-slider .swiper-slide-next {
  transform: scale(1.1) translate3d(-25%, 0px, -155.962px) rotateX(0deg)
    rotateY(-2.9808deg) !important;
  padding-left: 15px;
  cursor: pointer;
}
.team-member-slider .swiper-slide-prev {
  transform: scale(1.1) translate3d(25%, 0px, -155.962px) rotateX(0deg)
    rotateY(-2.9808deg) !important;
  padding-left: 15px;
  cursor: pointer;
}
.team-member-slider .swiper-slide-active {
  transform: translateY(5%) !important;
  transition: 300ms;
  opacity: 1 !important;
}
.team-member-slider .swiper-slide {
  opacity: 0.5;
}
.services {
  background-image: url(/Ressources/images/work1.jpg);
  padding-top: 130px;
  padding-bottom: 130px;
  background-attachment: fixed;
  background-size: cover;
}
.services h2 {
  font-family: "Oswald" sans-serif;
  margin-top: 50px;
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.services p {
  font-family: "Oswald" sans-serif;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.services a {
  padding: 15px 30px;
  background: transparent;
  border-radius: 50px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald" sans-serif;
  color: white;
  font-size: 13px;
  transition: all 0.5s ease-in;
  border: 2px solid white;
}
.services a:hover {
  padding: 15px 30px;
  background: white;
  border-radius: 50px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Oswald" sans-serif;
  letter-spacing: 2px;
  color: #333;
  font-size: 13px;
}

#work {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: #535353;
  padding-top: 50px;
  overflow-x: hidden;
}
#work h5 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #ff1737;
  font-family: "Oswald" sans-serif;
  text-transform: uppercase;
}
#work h2 {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 610;
  color: #18191d;
  line-height: 1.2;
  max-width: 650px;
  margin: 0 auto 1.5rem;
  font-family: "Oswald" sans-serif;
}
#work p.desc {
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-family: "Roboto Condensed", sans-serif;
}
#work .cbp-filter-style::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #f1c30f;
  position: relative;
  left: 12px;
  top: -2.5px;
  transform: rotate(45deg);
}
#work .cbp-l-filters-alignCenter {
  margin-bottom: 40px;
}
#work .cbp-l-filters-alignCenter .cbp-filter-item.cbp-filter-item-active {
  color: #f1c30f;
}
#work .cbp-l-filters-alignCenter .cbp-filter-counter {
  background: #f1c30f;
}
#work .cbp-l-filters-alignCenter .cbp-filter-counter::after {
  border-top: 4px solid #f1c30f;
}
#work .cbp-l-filters-alignCenter .cbp-filter-item {
  color: #18191d;
  font-family: "Oswald" sans-serif;
  font-size: 15px;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#work .cbp-caption-zoom .cbp-caption-activeWrap {
  opacity: 0;
  top: 5%;
  left: 5%;
  bottom: 5%;
  visibility: hidden;
  z-index: 1;
  background: rgba(255, 255, 255, 0.88);
  transition: all 0.5s cubic-bezier(0.57, 0.21, 0.79.1.25);
}

#work .cbp-caption-active .cbp-caption-activeWrap {
  background: rgba(255, 255, 255, 0.88);
  width: 0;
  position: absolute;
  z-index: 1;
  height: 90%;
}
#work .cbp-item:hover .cbp-caption-activeWrap {
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  transition: all 0.5s cubic-bezier(0.57, 0.21, 0.79.1.25);
}
.post-slide {
  margin: 0 10px;
}
.post-slide .post-info {
  padding: 5px 0;
  margin: 0;
  list-style: none;
}
.post-slide .post-info li {
  display: inline-block;
  margin: 0 5px;
}
.post-slide .post-info li i {
  margin-right: 8px;
}
.post-slide .post-info li a {
  font-size: 11px;
  font-weight: bold;
  color: dimgray;
  text-transform: uppercase;
}
.post-slide .post-info li a:hover {
  color: #1dcfd1;
  text-decoration: none;
}
.post-slide .post-img {
  position: relative;
}
.post-slide .post-img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.4s linear 0s;
}
.post-slide:hover .post-img::before {
  opacity: 1;
}

.post-slide .post-img img {
  width: 100%;
  height: auto;
}
.post-slide .read {
  position: absolute;
  bottom: 30px;
  left: 50px;
  font-size: 14px;
  color: white;
  text-transform: capitalize;
  opacity: 0;
  transition: opacity 0.4s linear 0s;
}
.post-slide:hover .read {
  opacity: 1;
}
.post-slide .read:hover {
  text-decoration: none;
  color: #1dcfd1;
}
.post-slide .post-content {
  padding: 10% 0;
  position: relative;
}
.post-slide .post-author {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  top: -45px;
  right: 10px;
  overflow: hidden;
  border: 4px solid white;
}
.post-slide .post-author img {
  width: 100%;
  height: auto;
}

.post-slide .post-title {
  font-size: 14px;
  font-weight: bold;
  color: #1dcfd1;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  transition: all 0.3s linear 0s;
}
.post-slide .post-title::after {
  content: "";
  width: 25px;
  display: block;
  margin-top: 10px;
  border-bottom: 4px solid #333;
}
.post-slide .post-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
  font-family: "Roboto Condensed", sans-serif;
}
.numbers {
  background-image: url(/Ressources/images/bg-testimonials.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 140px;
  padding-bottom: 150px;
  font-family: "Oswald" sans-serif;
}
.color-fff {
  color: white;
}
.fs-35 {
  font-size: 70px;
}
.fw-700 {
  font-weight: bold;
}
.color-aaa {
  text-transform: uppercase;
  font-size: 500;
  margin-bottom: 20px;
  font-size: 18px;
  color: white !important;
  letter-spacing: 2px;
}
.numbers .fa {
  font-size: 80px;
}
#clients-list {
  padding: 45px 0 0 0;
  margin-left: 115px;
}
.client {
  padding: 0 10px;
  max-width: 170px;
  margin: 0 auto;
  line-height: 100px;
}
.client img {
  display: inline-block !important;
}
#client h5 {
  font-size: 20px;
  font-family: "Oswald" sans-serif;
}
#client h2 {
  font-size: 25px;
  font-family: "Oswald" sans-serif;
  text-transform: uppercase;
}
footer {
  background-color: #1c1c1d;
  padding-top: 30px;
  border-top: 5px solid rgba(0, 0, 0, 0.1);
}
#contact-left h2,
#contact-right h2 {
  color: white !important;
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}
#contact-left p {
  color: white;
  margin-bottom: 30px;
  font-family: "Roboto Condensed", sans-serif;
}
#contact-info {
  background-image: url(/Ressources/images/world-map.png);
  background-repeat: no-repeat;
  background-size: contain;
}
address {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
address strong {
  font-size: 17px;
}
form .form-control {
  background: transparent;
  border-radius: 0;
  border-color: white;
  font-size: 17px;
  font-weight: 300;
  padding: 8px 17px;
  margin-bottom: 20px;
  color: white;
}
#footer-bottom {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  margin-top: 59px;
}
#footer-copyrights p {
  margin: 0;
  color: white;
}
#footer-menu {
  float: left;
  color: white;
  font-size: 17px;
  font-weight: 300;
}
#footer-menu ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#footer-menu ul li {
  display: inline-block;
}
#footer-menu a {
  color: white;
  font-size: 17px;
  font-weight: 300;
  margin: 0 10px;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}
#footer-menu a:hover {
  color: orange;
}
ul.social-list {
  display: flex;
  color: white;
}
ul.social-list li a {
  margin-right: 10px;
  color: white;
}
.btn-white {
  border-color: white !important;
  color: white !important;
}

.btn-white:hover {
  border-color: #f1c30f !important;
  color: #fff;
}
.btn-general {
  border-width: 2px;
  border-radius: 0px;
  padding: 12px 25px 12px 25px;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  color: #f1c30f;
  border-color: #f1c30f;
}
#footer-copyrights p {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}
