<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title inscription
    body
        form(action="",style="color:orange;background:#bebebe;")
            p inscription
            input(type="text" placeholder="taper nom" name="nom")
            input(type="submit" value="envoi")
            a(href="http://facebook.com") connexion facebook
            script 
