html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-image: url(img/loginbg.png);
	font-family: Arial , Helvetica , sans-serif ;
}
.navbar {
	/* navigation bar  */
	background-color: #8B0000;
	padding: 1% 0;
	font-size: 1.2em;
}
.navbar-brand{

	min-height: 55px;
	padding: 0 50px 5px;

}
.navbar-default .navbar-nav li a {
/* menu color*/
	color: #ffffff;

}
.navbar-default .navbar-nav li a:hover {

	color: #000000;
	background-color: #ffffff;

}

#homme{
	
        display: table;
        height: 100%;
        position: relative;
        width: 100%;
        background-size: cover;
    
}
#sidebar{
    position: fixed;
    padding-top: 100px;
    width: 200px;
    height: 100%;
    background: #8B0000;
    left: -200px;
    transition: all 500ms linear;
 
}
#sidebar.active{
    left: 0px;
}
#sidebar ul li {
    color: #ffffff;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid; 

}
.toggle-btn{
    padding-top: 100px;
}
#sidebar .toggle-btn{
    position: absolute;
    left: 230px;
    top: 20px;
}
#sidebar .toggle-btn span {

    display: block;
    width: 30px;
    height: 5px;
    background: #8B0000;
    margin: 5px 0px;
}

footer{
	width: 100%;
	background-color: #8B0000;
	padding: 5% 5px 10px 5px;
	color: #ffffff;
}
.fa{
	padding: 15px;
	font-size: 25px;
	color: #ffffff;
}
.fa:hover{
	background-color: #ffffff;
	text-decoration: none;
}

td{
    color: #ddd;
    border: brown;
    text-align: left;
}




table{
    margin: 50px auto;
    border-collapse: collapse;
    width: 80%;
    padding-top: 100px;
   
    text-align: center;
}
h1{
    
    margin: 50px auto;
    text-align: center;
    color: #ddd;
    padding-top: 100px; 
}
th{
    background: darkred;
    color: #ffffff;
}
th td {
    border: 2px solid #ddd; 
}
.myclass{
    display:inline-block;
    width: 80px;
    height: 40px;
    background: darkgreen;
}
li:hover {
    background: #000000;
    
}
li{
    cursor: pointer;
}
